.section{
    padding: 80px 40px;
}
.partsection{
    margin: 80px 40px;
}
.partsection-head{
    display: flex;
    flex-direction: row;
}
.section-head{
    display: flex;
    flex-direction: column;
}
.section-logo{
    display: flex;
    justify-content: center;
    margin: 0px 0px 16px;
}
.section-line h4{
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    margin: 0px 0px 20px;
}
.section-btn{
    margin: 30px 0px;
}
.Btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn{
    border: 2px solid;
    border-radius: 10px;
    font-size: 26.9px;
    font-weight: 700;
    padding: 15.1px 28.4px;
    text-align: center;

}
#btn-1{
    margin: 0px 12px 0px 0px;
    border-color: aliceblue;
    background-color: #0078AA;
    color: #ffff;
}
/* #btn-1:hover{

} */
#btn-2{
    background-color: #EF5B0C;
    color: #ffff;
}
.but2:hover{
    background-color: #334756;
}