.Pic-part{
    margin: 40px 50px 30px 20px;
}
.Pic-head{
    margin: 30px 0px 90px 0px ;
}

.Pic-head h1{
    background-image: url("data:image/svg+xml,%3Csvg width='298' height='32' viewBox='0 0 298 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 17.1944C62.6418 7.28318 174.478 -8.49028 296 27' stroke='%23F6BFB3' stroke-width='9'/%3E%3C/svg%3E%0A");
    background-size: 220px;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 2px 12px;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
.Pic-para p{
    color: #505050;
text-align: center;
margin-bottom: 10px;
}
.Pic-para p{
    color: #505050;
text-align: center;
margin-bottom: 10px;
}
.Pic-demo-part{
display: flex;
flex-direction: column;
padding: 0px 50px;
margin-bottom: 20px;
}
.Pic-demo-head h3{
    text-align: left;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 20px;
    }
    .Pic-demo-work{
        display: flex;
        flex-direction: row;
    }
   .Pic-demo-head h3{
    text-align: left;
    font-weight: 700;
    font-size: 25px;
    }
    .Pic-demo-work{
        display: flex;
        flex-direction: row;
        margin: 35px;
    }
    .Pic-text-part{
        display: flex; 
        flex-direction: column;
    padding: 0px 50px;
    }
    .Pic-text h4{
    
        font-size: 18px;
        margin-bottom: 15px;
    }
    .Pic-review{
        margin-bottom: 20px;
    }
    .Pic-write{
    
    }
    .Pic-api{
    
    }
    .Pic-api-head{
    
    }
    .Pic-api-write{
        
    }