*{
    box-sizing: border-box;
}
.main-items{
    margin: auto auto;
}

.I-product{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.II-product{
    display: flex;
    flex-direction: column;
}
.I-head{
    height : 220px;
    width: 550px ;
}
.profile{
    position: relative;
    cursor: pointer;
    transition: 0.2s;
}


.content{
    position: absolute;
    top: 50px;
    /* left: 15px; */
    padding: 20px;
    min-width: 400px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    /* transform: translateY(10px); */
    transition: 0.5s;
}
.profile:hover .I-line1 a span{
    background-position: -100%;
}
.profile:hover .content{
    visibility: visible;
    opacity: 1;
    transform: translateX(10%) translateY(0px);
}
.content .I-line2{
    display: flex;
    align-items: center;
}
.I-line1 a span{
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
 background: linear-gradient(to right, #7F8487 50%, #FF5858 50%, #CC2E5D);
 background-size: 200%;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 transition: 0.5s ease-out;
}

.I-line2 p{
    padding: 10px 22px;
    min-width: 22rem;
    opacity: 0.7;
    font-size: 1rem;
    line-height: 22px;

}

.min-line{
    font-size: 25px;
    color: #1a62f2;
    font-weight: 700;
    margin: 25px 25px 0px 25px;  
}
#it-1{
    text-align: right;
    margin: 0px 19px 25px 25px;
}
#it-2{
    text-align: left;
    margin: 0px 25px 25px 19px;
}
#it1{
    text-align: right;
    margin: 0px;
}
#it2{
    text-align: left;
    margin: 0px;
}
.ml-btn{
    margin: 30px 0px;
}
.Mtn{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 20px;
}
.mtn{
    background-color: rgba(240,142,128,.1);
    color: #FF5733;
    padding: 6px 10px;
    border-radius: 2px;
    transition: .15s;
    text-transform: capitalize;
}
.mtn h6{
    margin: 0px;
}

.mtn:hover{
    background-color: #FF4C29;
    color: #fff;
}

.I-img img{
    height: 250px;
}
.img-flex{
    display: flex;
    flex-direction: row;
}
/* @media (max-width: 320px ) {

}
  
  @media (min-width: 320px ) and (max-width: 375px ) {
    
  }
  
  @media (min-width: 375px ) and (max-width: 425px ) {
   
  }
  
  
  @media (min-width: 768px ) and(max-width: 1024px ) {
   
  }
   */
  @media (min-width: 1024px ) and (max-width: 1440px ) {
    /* .I-img img {
        height: 250px;
        margin: 35px auto;
    }
    .I-head {
        height: 250px;
        width: 500px;
    }
    .min-line {
        font-size: 22px;
        color: #1a62f2;
        font-weight: 900;
        margin: 15px 15px 0px 15px;
    }

.I-line2 p {
    padding: 7px 15px;
    opacity: 0.7;
    font-size: 15px;
    width: 85%;
    line-height: 22px;
  } 
  .I-line1 h3 {
    font-size: 32px;
} */
  /* #it1 {
    text-align: left;
    margin: 0px;
}
#it-1 {
    text-align: left;
    margin: 0px;
}
#it2 {
    margin: 0px;
}
#it-2 {
    margin: 0px;
} */
}
  
  @media (min-width: 1440px ) and(max-width: 2560px ) {
    
  }
  
  @media (max-width: 2560px ) {
    
  } 