*{
    box-sizing: border-box;
}
.nav{
    display: flex;
    flex-direction: row;
    margin: 25px 0px;
    justify-content: space-around;
    align-items: center;
}
.nav-link{
    display: flex;
    flex-direction: row;  
    margin-bottom: 0px;
}

.nav-li{

    margin: 0px 15px;
    padding: 0px 15px;
}
.nav-li a{
    color: #FFAB76;
    font-size: 22px;
    font-weight: 600;
}

Link{
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.nav-items{
    border: 2px solid hsla(8, 89%, 18%, 0.2);
    border-radius: 20px;
}
#li-4{
    padding: 0px 40px 0px 0px;

}
.nav-li-nc a{
    position: relative;
}
.nav-li-nc a:after{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -5px;
    background: #0078AA;
    transition: 0.3s; 
}
.nav-li-nc a:hover{
    color: #EF5B0C;
}
.nav-li-nc a:hover::after{
    width: 100%;
}

.Profile{
    padding: 0;
    max-width: 150px;
    overflow: hidden;
}
.Profile a{
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.basic{
    padding: 0px;
    background-color: #fff;
    color: #FFAB76;
    font-size: 22px;
    font-weight: 600;
    border: #fff;
}
.basic:hover{
    background-color: #fff;
    color: #FFAB76;
}