
.Login-part{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;
}
.H-items{
    display: flex;
    flex-direction: column;
}
.packets{
    margin: 50px 0px;
}
.items-Head h2{
    background-image: url("data:image/svg+xml,%3Csvg width='298' height='32' viewBox='0 0 298 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 17.1944C62.6418 7.28318 174.478 -8.49028 296 27' stroke='%23F6BFB3' stroke-width='9'/%3E%3C/svg%3E%0A");
    background-size: 252px;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 0 12px;
    text-align: center;
    font-size: 55px;
    font-weight: 800;
    }
.SA-main{
    margin-bottom: 20px;
}
@media (max-width: 320px ) {

}
  
  @media (min-width: 320px ) and (max-width: 375px ) {
    
  }
  
  @media (min-width: 375px ) and (max-width: 425px ) {
   
  }
  
  
  @media (min-width: 768px ) and(max-width: 1024px ) {
   
  }
  
  @media (min-width: 1024px ) and(max-width: 1440px ) {
    .items-Head h2{
        text-align: end;
        font-size: 31px;
    }
   
  } 
  