.Caption-part{
    margin: 40px 50px 30px 20px;
}
.Caption-head{
    margin: 30px 0px 90px 0px ;
}

.Caption-head h1{
    background-image: url("data:image/svg+xml,%3Csvg width='298' height='32' viewBox='0 0 298 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 17.1944C62.6418 7.28318 174.478 -8.49028 296 27' stroke='%23F6BFB3' stroke-width='9'/%3E%3C/svg%3E%0A");
    background-size: 220px;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 2px 12px;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
.Caption-para p{
    color: #505050;
text-align: center;
margin-bottom: 10px;
}
.Caption-para p{
    color: #505050;
text-align: center;
margin-bottom: 10px;
}
.Caption-demo-part{
display: flex;
flex-direction: column;
padding: 0px 50px;
margin-bottom: 40px;
}
.Caption-demo-head h3{
text-align: left;
font-weight: 700;
font-size: 25px;
margin-bottom: 20px;
}
.Caption-demo-work{
    display: flex;
    flex-direction: row;
    margin: 35px;
}
.Caption-text-part{
    display: flex; 
    flex-direction: column;
padding: 0px 50px;
margin: 0px 90px 0px 0px;
}
.Caption-text h4{
    font-size: 18px;
    margin-bottom: 15px;
}
.Caption-review{
    margin-bottom: 20px;
}
.Caption-p-head h3{
    text-align: left;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
}
.Caption-p{
    margin: 55px 30px 0px 30px;
}
.Caption-p-text p{
    font-size: 14px;
    font-weight: normal;
    line-height: 1.7em;
    padding: 20px;
    width: 100%;
text-align: -webkit-left;
}
.Caption-api-write{
    position: relative;
    box-sizing: border-box;
    padding: 20px;
    margin: 0;
    min-height: 200px;
    max-height: 400px;
    width: 100%;
    background-color: #EEEEEE;
    color: #222222;
    overflow: auto;
}
.Caption-button button[type=submit]{
    font-size: larger;
    background-color: #505050;
    border: none;
    padding: 8px 16px;
    color: white;
    border-radius: 8px;
}
.Caption-button button[type=submit]:hover{
    opacity: 0.8;
}

@keyframes button_pressed {
    0%{
        transform: scale(1.0);
    }
    50%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1.0);
    }
    
}